#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
#repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
#repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$e1LVqm7sN4RaPXDU$slADy0keMYs2aecCypnlm99z1umQO1.aDZPnEdki/w3dRx1xHZqWr30OkopT.DD9ap20yIeZD5Y3kaBkr3pMU/
# System services
services --enabled="chronyd"
firewall --disabled
selinux --permissive
# System timezone
timezone America/New_York --isUtc
user --name=vagrant --groups=wheel --plaintext --password=vagrant
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --encrypted --type=lvm --fstype=ext4 --passphrase="Themobilesatellitecompany1!"
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
chrony
kexec-tools
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end


# part /boot --fstype=ext4 --size=500
# part pv.ol76 --grow --size=1

# volgroup vg_hostname --pesize=4096 pv.ol76
# logvol / --fstype=ext4 --name=lv_root --vgname=vg_hostname --grow --size=1024 --maxsize=51200
# logvol /var/log --name=lv_varlog --vgname=vg_hostname --grow --size=2016 --maxsize=4032
